.language-icon,
.language-icon > svg {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;

  width: 2em;
  height: 2em;

  position: relative;

  background-color: transparent;
}

.language-icon > svg .a,
.language-icon > svg .b,
.language-icon > svg .c {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition-property: transform;
}

.language-icon > svg .b {
  transform: translateX(25%) rotateY(60deg);
}

.language-icon > svg .c {
  transform: translateX(75%) rotateY(120deg);
}

.language-icon.dark > svg .a {
  transform: translateX(25%) rotateY(60deg);
}

.language-icon.dark > svg .b {
  transform: translateX(75%) rotateY(120deg);
}

.language-icon.dark > svg .c {
  transform: translateX(100%) rotateY(180deg);
}
