/* #region generic */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root,
html {
  font-size: 16px;
  line-height: 1.15;
}

body,
.root {
  font-size: 1rem;

  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;

  position: relative;

  display: flex;

  flex-wrap: nowrap;
  flex-direction: column;

  align-content: stretch;
  align-items: stretch;

  justify-content: flex-start;

  gap: 0;

  overflow: hidden;
}

header,
main,
footer {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;

  position: relative;

  display: flex;

  flex-wrap: nowrap;
  flex-direction: row;

  align-content: stretch;
  align-items: center;

  justify-content: space-between;

  gap: 0;

  overflow: hidden;
}

/* #endregion generic */

/* #region header */

header {
  height: 3em;
}

header > .start,
header > .start-open,
header > .start-open-handle,
header > .middle,
header > .end,
header > .end-open,
header > .end-open-handle {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;

  position: relative;

  display: flex;

  flex-wrap: nowrap;
  flex-direction: row;

  align-content: stretch;
  align-items: center;

  /* justify-content: space-around; */

  gap: 0;

  overflow: hidden;
}

header > .start {
  /* width: 3em; */
  justify-content: flex-start;
}

header a.logo {
  height: 2em;
}

header a.logo img {
  height: 100%;
  width: auto;
}

header > .middle {
  /* flex-grow: 1; */
  justify-content: center;
}

header > .end {
  /* width: 3em; */
  justify-content: flex-end;
}

/* #endregion header */

/* #region main */

main {
  flex-grow: 1;

  align-items: stretch;
}

main > .start,
main > .middle,
main > .end {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;

  position: relative;

  display: flex;

  flex-wrap: nowrap;
  flex-direction: column;

  align-content: stretch;
  align-items: stretch;

  justify-content: flex-start;

  gap: 0;

  overflow: hidden;
}

main > .start {
  width: 3em;
}

main > .start-open {
  width: 5em;
}

main > .start-open-handle {
  position: absolute;

  top: 0;
  bottom: 0;

  z-index: 10;

  width: 0.125em;

  background-color: transparent;
  background-color: blue;
}

main > .start-open-handle:hover {
  width: 0.125em;
  background-color: blue;
}

main > .middle {
  flex-grow: 1;
}

main > .end {
  width: 3em;
}

/* #endregion main */

/* #region footer */

footer {
  height: 1.5em;
}

/* #endregion footer */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
