button.button {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  align-content: center;
  align-items: center;

  justify-content: flex-start;

  gap: 0;

  overflow: hidden;

  background-color: transparent;

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  cursor: pointer;
}

button.button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

button.button.enabled {
  color: #777;
}

button.button>* {
  display: none;
}

button.button .icon,
button.button .label {
  display: block;

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  position: relative;
}