
/* #region default */

.theme-icon {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;

  width: 2em;
  height: 2em;

  position: relative;

  fill: #000;

  background-color: transparent;
}

.theme-icon .inner-circle,
.theme-icon .a,
.theme-icon .b,
.theme-icon .c,
.theme-icon .d,
.theme-icon .e,
.theme-icon .f,
.theme-icon .g,
.theme-icon .h {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition-property: cx, r, transform, transform-origin, opacity, fill;
}

.theme-icon .inner-circle {
  cx: 31.176%;
  cy: 50%;
  r: 25%;
}

.theme-icon .a,
.theme-icon .b,
.theme-icon .c,
.theme-icon .d,
.theme-icon .e,
.theme-icon .f,
.theme-icon .g,
.theme-icon .h {
  opacity: 0;
  /* fill: #dcdcdc; */
}

.theme-icon .a {
  opacity: 1;
  transform: translate(50%, 50%) translateX(15.686%) scale(0);
}

.theme-icon .b {
opacity: 1;
  transform: translate(50%, 50%) rotate(45deg) translateX(15.686%) scale(0);
}

.theme-icon .c {
  opacity: 1;
  transform: translate(50%, 50%) rotate(90deg) translateX(15.686%) scale(0);
}

.theme-icon .d {
  opacity: 1;
  transform: translate(50%, 50%) rotate(135deg) translateX(15.686%) scale(0);
}

.theme-icon .e {
  opacity: 1;
  transform: translate(50%, 50%) rotate(180deg) translateX(15.686%) scale(0);
}

.theme-icon .f {
  opacity: 1;
  transform: translate(50%, 50%) rotate(225deg) translateX(15.686%) scale(0);
}

.theme-icon .g {
  opacity: 1;
  transform: translate(50%, 50%) rotate(270deg) translateX(15.686%) scale(0);
}

.theme-icon .h {
  opacity: 1;
  transform: translate(50%, 50%) rotate(315deg) translateX(15.686%) scale(0);
}

.background-rectangle {
  fill: #fff;
}

.inner-circle {
  fill: #000;
}

/* #endregion default */

/* #region dark-theme */

body.dark-theme .theme-icon {
  fill: #dcdcdc;
}

body.dark-theme .theme-icon .a {
  transform: translate(50%, 50%) translateX(31.372%);
}

body.dark-theme .theme-icon .b {
  transform: translate(50%, 50%) rotate(45deg) translateX(31.372%);
}

body.dark-theme .theme-icon .c {
  transform: translate(50%, 50%) rotate(90deg) translateX(31.372%);
}

body.dark-theme .theme-icon .d {
  transform: translate(50%, 50%) rotate(135deg) translateX(31.372%);
}

body.dark-theme .theme-icon .e {
  transform: translate(50%, 50%) rotate(180deg) translateX(31.372%);
}

body.dark-theme .theme-icon .f {
  transform: translate(50%, 50%) rotate(225deg) translateX(31.372%);
}

body.dark-theme .theme-icon .g {
  transform: translate(50%, 50%) rotate(270deg) translateX(31.372%);
}

body.dark-theme .theme-icon .h {
  transform: translate(50%, 50%) rotate(315deg) translateX(31.372%);
}

body.dark-theme .theme-icon .inner-circle {
  cx: 50%;
  cy: 50%;
  r: 16%;
}

/* #endregion dark-theme */
