.theme-icon,
.theme-icon > svg {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;

  width: 2em;
  height: 2em;

  position: relative;

  background-color: transparent;
}

.theme-icon > svg .inner-circle,
.theme-icon > svg .a,
.theme-icon > svg .b,
.theme-icon > svg .c,
.theme-icon > svg .d,
.theme-icon > svg .e,
.theme-icon > svg .f,
.theme-icon > svg .g,
.theme-icon > svg .h {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition-property: cx, r, transform, opacity;
}

.theme-icon > svg .a {
  transform: translate(50%, 50%) translateX(31.372%);
}

.theme-icon > svg .b {
  transform: translate(50%, 50%) rotate(45deg) translateX(31.372%);
}

.theme-icon > svg .c {
  transform: translate(50%, 50%) rotate(90deg) translateX(31.372%);
}

.theme-icon > svg .d {
  transform: translate(50%, 50%) rotate(135deg) translateX(31.372%);
}

.theme-icon > svg .e {
  transform: translate(50%, 50%) rotate(180deg) translateX(31.372%);
}

.theme-icon > svg .f {
  transform: translate(50%, 50%) rotate(225deg) translateX(31.372%);
}

.theme-icon > svg .g {
  transform: translate(50%, 50%) rotate(270deg) translateX(31.372%);
}

.theme-icon > svg .h {
  transform: translate(50%, 50%) rotate(315deg) translateX(31.372%);
}

.theme-icon.dark > svg .inner-circle {
  cx: 31.176%;
  cy: 50%;
  r: 25%;
}

.theme-icon.dark > svg .a,
.theme-icon.dark > svg .b,
.theme-icon.dark > svg .c,
.theme-icon.dark > svg .d,
.theme-icon.dark > svg .e,
.theme-icon.dark > svg .f,
.theme-icon.dark > svg .g,
.theme-icon.dark > svg .h {
  opacity: 0;
}

.theme-icon.dark > svg .a {
  transform: translate(50%, 50%) translateX(15.686%) scale(0);
}

.theme-icon.dark > svg .b {
  transform: translate(50%, 50%) rotate(45deg) translateX(15.686%) scale(0);
}

.theme-icon.dark > svg .c {
  transform: translate(50%, 50%) rotate(90deg) translateX(15.686%) scale(0);
}

.theme-icon.dark > svg .d {
  transform: translate(50%, 50%) rotate(135deg) translateX(15.686%) scale(0);
}

.theme-icon.dark > svg .e {
  transform: translate(50%, 50%) rotate(180deg) translateX(15.686%) scale(0);
}

.theme-icon.dark > svg .f {
  transform: translate(50%, 50%) rotate(225deg) translateX(15.686%) scale(0);
}

.theme-icon.dark > svg .g {
  transform: translate(50%, 50%) rotate(270deg) translateX(15.686%) scale(0);
}

.theme-icon.dark > svg .h {
  transform: translate(50%, 50%) rotate(315deg) translateX(15.686%) scale(0);
}
